*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.tmp
local.properties
/caches/
/daemon
/daemon/*
/native/
/wrapper/dists
/wrapper/dists/*
/wrapper/dists/gradle-7.2-bin/2dnblmf4td7x66yl1d74lt32g/gradle-7.2/
/wrapper/dists/gradle-7.2-bin/2dnblmf4td7x66yl1d74lt32g/
