*.iml
.gradle
.gradle/*
/local.properties
.idea
.idea/*
.tmp
.tmp/*
build/
build/*
build-scan-data/
build-scan-data/*
caches/
caches/*
daemon/*
gradle/
gradle/*
jdks/
jdks/*
kotlin-profile/
kotlin-profile/*
native/
native/*
wrapper/
wrapper/*
workers/
.DS_Store
/captures/
.externalNativeBuild
.cxx
/wrapper/dists
/wrapper/dists/*
/wrapper/dists/gradle-7.2-bin/2dnblmf4td7x66yl1d74lt32g/gradle-7.2/
/wrapper/dists/gradle-7.2-bin/2dnblmf4td7x66yl1d74lt32g/
